<div class="jumbotron">
    <h1 class="display-4">Bookmarkly</h1>
    <p class="lead">A online manager for your Bookmarks</p>
    <a class="btn btn-primary btn-lg" href="/bookmarks/add" role="button">Add Bookmarks</a>
    <a class="btn btn-outline-danger btn-lg" href="/bookmarks" role="button">List Bookmarks</a>
</div>